.cv {
  position: absolute;
  width: 99.37px;
  height: 21px;
  left: 971.88px;
  top: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #007888;
}
.cv a:hover {
  color: #ff2058;
}
